body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: auto;
    text-align: center;
}

input,
select,
button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#convertButton {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#convertButton:hover {
    background-color: #333333;
}

#outputArea {
    margin-top: 20px;
}